*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.main h1{
    color: white;
} 
button {
    width: 130px;
    height: 50px;
    cursor: pointer;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 5px;
}

.otpbox {
    width: 500px;
    height: 45px;
    background-color: rgba(128, 128, 128, 0.488);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.otpbox span {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}