*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.main .box {
    border: 3px solid white;
    width: 25%;
    height: 300px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}