*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    width: 450px;
    height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #132668;
    border-radius: 8px;
}
h1
{
    position: absolute;
    top: 25px;
    color: white;
    font-weight: 500;
}
form
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
    margin-top: 70px;
}
.inputGroup
{
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.inputGroup label.error
{
    color: red;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    left: 6.5%;
    top: 45px;
}
input 
{
    width: 90%;
    height: 40px;
    border-radius: 7px;
    border: none;
    outline: none;
    padding-left: 10px;
    background-color: #174084;
    color: #e2f8f6;
    margin-bottom: 0px;
}

input::placeholder
{
    color: #e2f8f6;
    font-weight: 400;
}

button
{
    width: 90%;
    height: 45px;
    background-color: #2BDBC6;
    color: #174084;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
}
input:invalid {
    color: #e2f8f6;
}

p{
    color: #e2f8f6;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
span
{
    display: flex;
    color: #2BDBC6;;
    gap: 5px;
    margin-block: 10px;
}